<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>homework-app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
		<servlet-name>FormTaskServlet</servlet-name>
		<servlet-class>com.belhard.servlets.FormTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FormTaskServlet</servlet-name>
		<url-pattern>/homework.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FormByServlet</servlet-name>
		<servlet-class>com.belhard.servlets.FormByServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FormByServlet</servlet-name>
		<url-pattern>/servletForm.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RecomLetterInfoForm</servlet-name>
		<servlet-class>com.belhard.servlets.RecomLetterInfoForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecomLetterInfoForm</servlet-name>
		<url-pattern>/recuserinfo.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RecomLetterServlet</servlet-name>
		<servlet-class>com.belhard.servlets.RecomLetterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecomLetterServlet</servlet-name>
		<url-pattern>/recoletter.do</url-pattern>
	</servlet-mapping>
	
</web-app>